$color--bg: #f2f6ff;
$color--prussian-blue: #15314b;
$color--charcoal: #191d2b;
$color--yellow: #f9f871;
$color--grey-dark: #131313;
$color--grey-0: #f8f8f8;
$color--grey-1: #dbe1e8;
$color--grey-2: #b2becd;
$color--grey-3: #6c7983;
$color--grey-4: #454e56;
$color--grey-5: #2a2e35;
$color--grey-6: #12181b;
$color--White: #fff;
$color--purple: #a855f7;
$color--red: #ff3860;

//paddings
$pad--sm: 1rem;
$pad--sm-2: 1.5rem;
$pad--md: 2rem;
$pad--md-2: 2.5rem;
$pad--lg: 3rem;
$pad--lg-2: 3.5rem;
